<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBw34iHaN8dxmDhymxpJecyRAq7gBjtFcU</string>
	<key>GCM_SENDER_ID</key>
	<string>1004594200020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carx.carx</string>
	<key>PROJECT_ID</key>
	<string>xcar-a83b1</string>
	<key>STORAGE_BUCKET</key>
	<string>xcar-a83b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004594200020:ios:4fe8d7f15e49af71616a41</string>
</dict>
</plist>